---
layout: default
---

<div class="home">
  <!--#include virtual="/DH.html" --> 

   <center><h1 class="page-heading">DemonHunter</h1></br>

   <a href="{{ "/game/DH.html"}}"> --- G A M E _ P L A Y --- </a></br></br></br></br>


  </center>


  <h1 class="page-heading">VIDEOS</h1>


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>



<!-- 
  <ul class="post-list">
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
 </ul>


  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/DH.html" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
